<div id="admin">
	<div class="container content_box clearfix">

		<!-- render 'admin/header', active: 'campaigns' -->
		<h3><%= link_to @settings.site_name, root_path, :class => 'show_loader', :'data-loader' => "admin_header" %>
			> <%= link_to "Edit", admin_campaigns_path %>
			> <%= link_to @campaign.name, campaign_home_path( @campaign ) %>
		</h3>
	  
		<%= render 'form' %>
	</div>
</div>
