<div id="admin">
	<div class="container content_box clearfix">

		<!-- render 'admin/header', active: 'campaigns' -->
		<h3><%= link_to @settings.site_name, root_path, :class => 'show_loader', :'data-loader' => "admin_header" %> > Edit > <%= @campaign.name %></h3>
	  
		<%= render 'form' %>
	</div>
</div>
