<div id="footer">
  <div class="container clearfix">
    <p class="pull-right">© <%= @settings.copyright_text %>
    <% if !current_user %>
      | <%= link_to "Sign In", :admin_campaigns %>
    <% else %>
      | <%= link_to "Admin", :admin_campaigns %>
    <% end %>
    </p>
  </div>
</div>
